.header-block {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 35px;
}

.button-nav {
  width: 132px;
  height: 44px;
  border-radius: 8px ;
}

.button-nav1 {
background-color:white;
border:1px solid #FB8F1D;
color: #FB8F1D;
}

.button-nav2 {
background-color:#FB8F1D;
border: #FB8F1D;
color: white;
}

.header-block__logo {
  width: 41px;
  height: 41px;
}

.header-block__top-nav {
  width: 663px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.list-text,
.main-page {
  font-size: 16px;
  line-height: 19px;
}

.main-page {
  font-weight: 500;
  color: #202336;
}

.list-text {
font-weight: 400;
color: #B8BECD;
}

.header-block__content {
  width: 1220px;
  display: flex;
  justify-content: space-between;
}


