.header-block {
  height: 786px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 35px;
}

.button-nav {
  width: 132px;
  height: 44px;
  border-radius: 8px ;
}

.button-nav1 {
background-color:white;
border:1px solid #FB8F1D;
color: #FB8F1D;
}

.button-nav2,
.button-content {
background-color:#FB8F1D;
border: #FB8F1D;
color: white;
}

.top-nav {
  width: 663px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.list-text,
.list-title {
  font-size: 16px;
  line-height: 19px;
}

.list-title {
  font-weight: 500;
  color: #202336;
}

.list-text {
font-weight: 400;
color: #B8BECD;
}

.top-content {
  width: 1220px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 41px;
  height: 41px;
}

.bottom-content {
  width: 1305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}

.button-content {
  width: 180px;
  height: 52px;
  border-radius: 8px;
}

.content-rectangle {
  width: 32px;
  height: 2px;
  background-color: #202336;
}

.bottom-content-text {
  height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

