.section-block {
  width: 1306px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  margin-top: 33px;
}

.button-content {
  width: 180px;
  height: 52px;
  border-radius: 8px;
}

.section-text {
  margin-top: 74px;
}

.section-text::after {
  display: block;
  margin-top: 21px;
  content: "";
  width: 32px;
  height: 2px;
  border-radius: 4px;
  background: #202336;
}

.button-content {
  background-color:#FB8F1D;
  border: #FB8F1D;
  color: white;
  }

.section-block__content-text {
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
