.section4-block {
  width: 1206px;
  display: flex;
  gap: 49px;
  align-items: center;
  position: relative;
}

.section4-text {
  width: 481px;
  height: 333px;
  display: grid;
  grid-template-rows: 286px 1fr;
}